@use "sass:map";

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

@mixin breakpoint($point) {
  @media screen and (min-width: map.get($breakpoints, $point)) {
    @content;
  }
}

@mixin focus {
  &:focus-visible,
  &:focus-within {
    @content;
  }
}

@mixin focus-border {
  outline: 2px solid var(--color);
  outline-offset: 3px;
}
