@use "@css/mixins" as *;

.label {
  border-radius: 4px;

  @include focus {
    @include focus-border;
  }
}

.input {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.active {
  outline: 2px solid red;
}

.icon {
  font-size: 70%;
}
