.filters {
  display: none;
  flex-direction: column;
  gap: 8px;
}

.active {
  display: flex;
}

.list {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.table {
  tr:nth-child(1) td {
    border-top: 1px solid var(--foreground);
  }
  td {
    padding-block: 1rem;
    border-bottom: 1px solid var(--foreground);
  }
}

.line {
  border: none;
  height: 1px;
  width: 100%;
  margin: 0;
  background-color: var(--foreground);
}
