$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

@mixin breakpoint($point) {
  @media screen and (min-width: map-get($breakpoints, $point)) {
    @content;
  }
}

.label {
  --background: var(--primary);
  --color: var(--white);
  --width: 48px;
  background-color: var(--background);
  color: var(--color);
  padding-inline: 0.5rem;
  height: 24px;
  border-radius: 0.25rem;
  font-weight: bold;
  min-width: var(--width);
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 80%;

  @include breakpoint(sm) {
    height: 32px;
  }
}

.neutral {
  --background: var(--blue);
}

.positive {
  --background: var(--positive);
}

.negative {
  --background: var(--negative);
}
