.container {
  position: relative;
  height: 100%;
}

.scroll {
  overflow-y: auto;
  height: 100%;
}

.inner {
  position: relative;
  display: grid;
}

.track {
  width: 100%;
  position: absolute;
}

.loader {
  &:before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--background);
    opacity: 0.8;
    pointer-events: none;
  }
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.25s ease;
  z-index: 3;
  pointer-events: none;

  &.active {
    opacity: 1;
  }
}
