$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

@mixin breakpoint($point) {
  @media screen and (min-width: map-get($breakpoints, $point)) {
    @content;
  }
}

.select {
  height: 24px;
  padding-inline: 8px;
  border-radius: 0.25rem;
  background-color: var(--foreground);
  border: 0;

  @include breakpoint(sm) {
    height: 32px;
  }
}
